# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Next.js Build & Output
.next/
out/
build/
dist/

# Prisma
/app/generated/prisma
prisma/dev.db
prisma/dev.db-journal

# Testing & Coverage
coverage/

# Misc & OS
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vercel & IDE
.vercel
.vscode/
.idea/
*.tsbuildinfo
next-env.d.ts
